@model Booking_App.Models.Reservation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using(Html.BeginForm())
    {
        <span style="margin:15px;">@Html.LabelFor(m=>m.Id)</span>
        <span style="margin:80px;">@Html.EditorFor(m=>m.Id)</span>
        <br /><br />
        <span style="margin:15px;">@Html.LabelFor(m=>m.Reservar_Name)</span>
        <span style="margin:55px;">@Html.EditorFor(m=>m.Reservar_Name)</span>
        <br/><br />
        <span style="margin:15px;">@Html.LabelFor(m=>m.location.Name)</span>
        <span style="margin:1px;">@Html.EditorFor(m=>m.location.Name)</span>
        <br /><br />
        <span style="margin:15px;"><input type="submit"/></span>
    }
    <p>@Html.ActionLink("Log Out" , "SignOut" , "Home")</p>
</body>
</html>
